* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
}
.con {
  width: 1440px;
  margin: 100px auto;
}
.item {
  font-size: 16px;
  width: 640px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 32px 2px rgba(0, 0, 0, 0.089);
  font-weight: 400;
  border-radius: 12px;
}
.box-1 {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
}
.box-2 {
  background-color: hsl(179, 62%, 43%);
  width: 720px;
  padding: 48px 32px;
  border-bottom-left-radius: 12px;
}
.box-3 {
  background-color: hsl(179, 62%, 46%);
  width: 720px;
  padding: 48px 32px;
  border-bottom-right-radius: 12px;
}
.flex {
  display: flex;
}
.head {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
}
.box-1 .head {
  color: hsl(179, 62%, 43%);
}
.day {
  margin-bottom: 16px;
  color: hsl(71, 73%, 54%);
}
.box-1 .text-a {
  color: hsl(218, 22%, 67%);
  line-height: 1.3;
}
.text-a {
  color: hsl(204, 43%, 93%);
}
.head {
  color: hsl(204, 43%, 93%);
}
.box-2 .text-a {
  color: hsl(0, 0%, 87%);
}
.box-3 .text-a {
  line-height: 1.63;
}
.box-2 {
  color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mon {
  font-size: 32px;
  font-weight: 700;
}
.dollar {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
}

.btn {
  margin-top: 24px;
  padding: 12px 88px;
  background-color: hsl(71, 73%, 54%);
  border-radius: 9px;
  box-shadow: 0px 9px 32px rgba(0, 0, 0, 0.185);
}
.btn:link,
.btn:visited {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.btn:hover {
  background-color: hsl(71, 83%, 61%);
  transition: 0.3s all;
}
